.accordion {
    width: 400px;
    border-radius: 5px;
    background: gray;
    position: absolute;
    left: 600px;
    top: 300px;
}
.accordion__label,
.accordion__content {
    padding: 14px 20px;
}
.accordion__label {
    display: block;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 120px;
}
.accordion__content {
    background: #ffffff;
    font-size: medium;
    display: none; /* не видно текст */
    border: 3px solid gray;
}
.accordion__input {
    display: none; /* не видно куржки */
}
.accordion__input:checked ~ .accordion__content {
    display: block; /* отображение в виде блока */
}
.float1 {
    float: left;
    background: coral;
    padding: 10px;
    margin-right: 20px;
    width: 50%;
}
.accordion__input:checked {
    display: block; /* отображение в виде блока */
}
